:root{
    --title-color: #111111;
    --main-text-color: #ffffff;
    --second-text-color: #111111;
}


body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list{
    list-style: none ;
}

.header {
}
.header-navigation {
}
.header-logo link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link{
    text-decoration: none;
}
.span-logo {
    color: #2e2f42;
}
.header-menu {
}
.list {
}
.header-menu-item {
}


.header-menu-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
}
.header-menu-link:hover{
    color: firebrick;
}
.header-menu-link:focus{
    color: firebrick;
}

.hero {
background : #2E2F42;
}
.hero-title { 
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color:#4d5ae5;
cursor: pointer
}
.hero-btn:hover,:focus{
    background-color: #404bbf;
}
.advantages {
}

.adv-title {
    color: #2E2F42
}

.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--second-text-color);
}
.advantages-item-text {
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.doing {
}
.doing-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42
}

.doing-list {
}
.doing-item {
}

.team {
    background-color: #F4F4FD;
}
.team-title {
font-weight: 500;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize
color: #2E2F42;
}
.doing-item-text {
font-size: 16px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.footer-logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link{
    text-transform: none;
}

.span-logo {
    color: #F4F4FD;
    
}
.footer-text {
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.hero-btn:hover,
.hero-btn:focus{
  color:  #FFFFFF;  
  background-color: #404BBF;
  cursor: pointer
}
.hero-btn-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.hero-btn-1:hover,
.hero-btn-1:focus{
  color:  #FFFFFF;  
  background-color: #404BBF;
  cursor: pointer
}
.hero-btn-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.hero-btn-2:hover,
.hero-btn-2:focus{
  color:  #FFFFFF;  
  background-color: #404BBF;
  cursor: pointer
.hero-btn-3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.hero-btn-3:hover,
.hero-btn-3:focus{
  color:  #FFFFFF;  
  background-color: #404BBF;
  cursor: pointer
.hero-btn-4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.hero-btn-4:hover,
.hero-btn-4:focus{
  color:  #FFFFFF;  
  background-color: #404BBF;
  cursor: pointer
.photo-list {
    list-style: none
    
}
.link{
    text-decoration: none
}

.photo-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.photo-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link{
    text-decoration: none;
}
.photo-item {
}


.link{
    text-decoration: none;
}

.footer-logo link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link{
    text-decoration: none;

.span-logo {
    color: #2e2f42;